.jumbotron{
    background-image: url(../images/darkTechnical.jpg);
    /*http://papers.co/desktop/vc52-blueprint-dark-texture-technical-pattern/*/
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 0px;
}

body{
    background-image: url(../images/darkTechnical.jpg);
    /*http://papers.co/desktop/vc52-blueprint-dark-texture-technical-pattern/*/
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
footer {
    background: #333;
    color: gray;
    padding: 30px 85px 20px 0px;
}
footer li {
    float: left;
    padding: 0 10px 0 10px;
    list-style: none;
}
footer a {
    color: grey;
}
footer p {
    float: left;
}
footer button{
    padding: 0 0px 0 0;
}

#homeCards{
    padding-top: 150px;
}

#main{
    padding-top: 80px;
}

#footerLinks{
    padding-right: 80px;
}

#awsFav{
    padding-top: 50px;
}